body {
    background-color: #f1f1ee;
    margin-left: 80px;
    margin-right: 80px;
}
#habilidades, #texto, #objetivos,#estudando{
    color: rgb(43, 42, 42);
}
#habilidades, #texto, #objetivos{
    background-color: rgb(120, 120, 121);
    width: 280px;
}
#estudando{
    background-color: rgb(120, 120, 121);
    width: 350px;

}
#texto {
    padding-left: 30px;
}
h1 {
    text-align: center;
}
img.is-expanded{
    transform: scale(1.06);
    box-shadow: 0 16px 44px rgba(14,165,233,0.25);
}
#bg-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Fica atrás do conteúdo */
}

.content {
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
